# Python cache
__pycache__/

# Build results
main.dist/
main.build/
result

# Dashboard specific stuff
node_packages/

logs/

# Virtual environments
.venv/

# Common files
*.log
*.tar*
*.zip
*.lock
*.env*

*.efi*
*.img*
*.iso*
*.key*
*.pem*
*.crt*
*.der*

# Random files
notes.md
